<%- include('partials/header-mySchedules') %>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="btn-group">
                <div class="showSchedule">
                    <div class="container mt-3">
                    <h2>Meus agendamentos</h2>
                    <p>Abaixo está a lista de todos os agendamentos que você já fez conosco</p>  
                    <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
                    <!-- <br> -->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Data</th>
                            <th>Hora</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr>
                            <% if(JSON.stringify(item.first)) { %>
                                <td>1</td>
                                <td><%- JSON.stringify(item.first.date).replace(/"/g, '') %></td>
                                <td><%- JSON.stringify(item.first.hour).replace(/"/g, '') %></td>
                            <% } %>
                         </tr>
                         <tr>
                            <% if(JSON.stringify(item.second)) { %>
                                <td>2</td>
                                <td><%- JSON.stringify(item.second.date).replace(/"/g, '') %></td>
                                <td><%- JSON.stringify(item.second.hour).replace(/"/g, '') %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <% if(JSON.stringify(item.three)) { %>
                                <td>3</td>
                                <td><%- JSON.stringify(item.three.date).replace(/"/g, '') %></td>
                                <td><%- JSON.stringify(item.three.hour).replace(/"/g, '') %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <% if(JSON.stringify(item.four)) { %>
                                <td>4</td>
                                <td><%- JSON.stringify(item.four.date).replace(/"/g, '') %></td>
                                <td><%- JSON.stringify(item.four.hour).replace(/"/g, '') %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <% if(JSON.stringify(item.five)) { %>
                                <td>5</td>
                                <td><%- JSON.stringify(item.five.date).replace(/"/g, '') %></td>
                                <td><%- JSON.stringify(item.five.hour).replace(/"/g, '') %></td>
                            <% } %>
                        </tr>
                        </tbody>
                    </table>
                    
                    <p>Em caso de dúvida em relação a sua página de agendamentos, entre em <a href="/contact">contato</a> conosco</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>